repos:
  # Syncs pre-commit dependencies with the latest versions.
  - repo: https://github.com/mxr/sync-pre-commit-deps
    rev: "v0.0.3"
    hooks:
      - id: sync-pre-commit-deps
  # Pre-commit hooks for general file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  # ShellCheck hook for linting shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck
        name: shellcheck
        description: This hook runs shellcheck for linting shell scripts
  # Bashate hook for linting shell scripts
  - repo: https://github.com/openstack/bashate
    rev: "2.1.1"
    hooks:
      - id: bashate
        name: bashate
        description: This hook runs bashate for linting shell scripts
        entry: bashate
        language: python
        types: [shell]
        args: ["--error", "E006", "--ignore", "E006"]
  # Yamlfmt for formatting YAML files
  - repo: https://github.com/google/yamlfmt
    rev: "v0.20.0"
    hooks:
      - id: yamlfmt
  # Codespell for detecting common misspellings in code
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
  # Markdownlint for linting Markdown files
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
