name: ShellChecker
on:
  - pull_request
permissions:
  pull-requests: write
jobs:
  sh-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@883217215b11c1fabbf00eb1a9a041f62d74c744
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHFMT_OPTS: -w -i 4
        with:
          sh_checker_comment: true
          sh_checker_checkbashisms_enable: true
